---
---

<!-------FOND---------------------------------------------------teste easter egg audio -->
<div id="conteneur3">
    <audio id="multiaudio2" src="****chant oiseaux.mp3" preload="auto"></audio>
    <a href="javascript:play_multi_sound('multiaudio2');">
        <p>
            <!--PHOTO -->
            <div style="keyframes mymove"></div>

            <div> <img class='img-responsive' src="src-img/FONT HTML3.png" alt=""
                    title="Il y'a des liens utiles pour flâner caché dans ce site! " />

            </div>
        </p>
    </a>

</div>
<!-----------------------------OPTION THEME FOND-------------------------->
<div><a href="****.html" title="Change de Théme">city</a></div>