---

---

<!--------------CONTENUR2///////////////////////LIEN-FOOTER------------------------------------------------------------------>
<div id="conteneur2">

    <!--<div><a href="C:\Users\glebe\Documents\PROG HTML\Berru site vitrine\pad.html" class="button">⬛</a></div>-->
    <div>
        <a href="****.html"><img width="100" height="51"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/102372015_920708051733901_1770419049558468254_n.png?_nc_cat=105&_nc_sid=8024bb&_nc_oc=AQmfIRp6qzf9Nhyv-xr_ThRSWWpY49DT01pW67hLvFS_b1V0hJtTSPLGtgqnAo_2A4w&_nc_ht=scontent-cdt1-1.xx&oh=242c38d58ecfb3209491e6bbc22c8d49&oe=5EFF2499"
                title="Une petite pause musical?"></a><br />
    </div>

    <div>
        <a href="https://soundcloud.com/lesflaneriesnantes"><img width="100" height="100"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/102411499_920701488401224_6220296130027269708_n.png?_nc_cat=101&_nc_sid=8024bb&_nc_oc=AQnhZ7I2QYhxYbK09UgbuIxEcFKmXyd8QON8AQ4AUmRTlwedjn3AqFmGutja0MyuWBk&_nc_ht=scontent-cdt1-1.xx&oh=1140f5c8073206cc16674c0156b7f880&oe=5F010495"
                title="Les prod's du dimanche"></a><br />
    </div>

    <div>
        <a href="https://www.youtube.com/channel/UCE4SzbAXw-bGlyh5VPJz76g?view_as=subscriber"><img width="100"
                height="100"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/103397657_920707805067259_949729918946886398_n.png?_nc_cat=101&_nc_sid=8024bb&_nc_oc=AQnL-ChDjOhPs8x9Dc8jusCRlzxhexkQV_9hQ4ZL8aDLWp7ZR6qRyD-aXb7UUCuzux0&_nc_ht=scontent-cdt1-1.xx&oh=638d35444f353dd219d87d42d2b2e536&oe=5F01A2C4"
                title="chaine des flâneries"></a><br />
    </div>

    <div>
        <a href="*****.html"><img width="100" height="100"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/103411458_920701955067844_6535556643927767990_n.png?_nc_cat=105&_nc_sid=8024bb&_nc_oc=AQliGTCTiqtvlb9RmMJVby2JoOoQNdqWyj9yPZ1tjXqnIiIEfLLhPWkztdecXrVmnZk&_nc_ht=scontent-cdt1-1.xx&oh=3bfd53f67aed7ddb318bd2a0a993b667&oe=5F0269F5"
                title="M'écrire"></a><br />
    </div>

    <div>
        <a href="https://www.facebook.com/BERRUClothing"><img width="100" height="100"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/103104311_920701831734523_992895956815414058_n.png?_nc_cat=110&_nc_sid=8024bb&_nc_oc=AQnlHxzjjybJiXVUpy8K9PNZ17WJJDdpVb99RKkb2rfnHpceGC8Yfgp37xsbEygUovc&_nc_ht=scontent-cdt1-1.xx&oh=8daae7638c9d556745cea0db7a3b6054&oe=5F012902"
                title="Nos sweat en éditions limité"></a><br />
    </div>


    <div>
        <a href="https://www.hackster.io/BERRU"><img width="100" height="100"
                src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/102769772_920701798401193_6693916385209398145_n.png?_nc_cat=109&_nc_sid=8024bb&_nc_oc=AQnWldAqo4aezLJy6re29QoDxZum2T95umqmsq-hxi6JAoQig-Rni8sJN2AKvl4ii_Q&_nc_ht=scontent-cdt1-1.xx&oh=0bbaed8e0f55fb4dadd173b43c62c9cc&oe=5F012004"
                title="DIY, mes claviers USB-MIDI en open source"></a><br />
    </div>

    <div>
        <a href="src-img/cvlogo.png"><img width="100" height="100"
                src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/102424614_920701905067849_2518154132035915147_n.png?_nc_cat=108&_nc_sid=8024bb&_nc_oc=AQn0jDMkddYeQlu5IcBXKg0vJus1DuDPRQoFPGtMtW1RHDQbGpJsAoOwb4dkAFqVs-g&_nc_ht=scontent-cdg2-1.xx&oh=bad40826837e51097da7d09c060a8181&oe=5F01C543"
                title="cv"></a><br />
    </div>

    <div>
        <a href="http://www.linkedin.com/"><img width="100" height="51" src="****.png" title=""></a><br />
    </div>

</div>

<!-- CONTENEUR 1///////////////////BOUTON PAD CACHE--------------------------------------------------------------->
<!--BOUTON------------------------------>


<div id="conteneur1">



    <div><a href="https://codepen.io/h-lautre/pen/BajyqLJ" class="button">Rick & Morty</a></div><br />
    <div><a href="*****.html" class="button">PAD</a></div><br />
    <h0>By Berru</h0>
    <div><a href="*****.html" class="button">piano du dimanche</a></div><br />
    <div><a href="*****INSOMNIE.html" class="button">le ternet</a></div><br />

</div>