---

---

<!--format, mots clefs-->
<title>Berru</title>
<meta charset='UTF-8' />
<meta name="description" content="Berru">
<!--nom d'adresse suivi de mots clef pour être répertorié-->
<meta name="keywords" content="Berru, clothing, factory, les flaneries, Nantes, DIY,Clavier MIDI, arduino, évenemnt">

<!-- AUDIO LOGO ----SCRIPT JS A MODIFIER------------------------------------------------------------------------------------------->
<div><audio id="multiaudio1" src="src-wav\morning-after-guitar-loop_149bpm_F_minor.wav" preload="auto"></audio>
    <a href="javascript:play_multi_sound('multiaudio1');">
        <p>

            <div style="align-self:absolute; "></div>

            <img class="img-responsive" src="src-img/LOGO BLAZE2.png"
                title="Bienvenue, Vous êtes ici chez un autodidacte, amateur de programmation, de graphisme, d'éléctronique, de musique et de bien d'autres disciplines. Tous ce que vous verrez ici est fait maison. j'éspere que vous apprécierez. Restez curieux car des surprises sont cachées dans ce site 😊 Bonne ballade" />
        </p>
    </a>
</div>

<!--LEGENDE -->

<!--FIN DU LOGO---------------------------->

<!--teste sous titre 2 css----------------------------------------->
<p>Programmeur débutant, bidouilleur confirmé. </p>
<br />

<!----CONTENEUR/////////////////////////////-BARRE----------------------------------------------------------------------------------------->
<div id="conteneur">
    <div><audio id="multiaudio3" src="****.wav" preload="auto"></audio>
        <a href="javascript:play_multi_sound('multiaudio3');">

            <img width="200" height="5"
                src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/102704969_920701001734606_8762590370594509705_n.png?_nc_cat=104&_nc_sid=8024bb&_nc_oc=AQnj5TeA-LakzbN0AqMukkfvUYUHosTEWWkSgfvFLYzPCtFZffpOfxpJ52hcI0A0EoU&_nc_ht=scontent-cdg2-1.xx&oh=7e76da56324837d717bc10ac9d752f62&oe=5F0202C2"
                alt="" title="🥁" /></a><br />
    </div>
    <!------------BARRE2------------------------------------------------------------------------------------------------------------------------>
    <div> <audio id="multiaudio4" src="****.wav" preload="auto"></audio>
        <a href="javascript:play_multi_sound('multiaudio4');">

            <img width="200" height="5"
                src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/102704969_920701001734606_8762590370594509705_n.png?_nc_cat=104&_nc_sid=8024bb&_nc_oc=AQnj5TeA-LakzbN0AqMukkfvUYUHosTEWWkSgfvFLYzPCtFZffpOfxpJ52hcI0A0EoU&_nc_ht=scontent-cdg2-1.xx&oh=7e76da56324837d717bc10ac9d752f62&oe=5F0202C2"
                alt="" title="🎹" /></a><br />
    </div>
</div>