---

---

<ul id="menu-demo2">
    <li><a href="#">LES FLANERIES</a>
        <ul>
            <li><a href="https://www.facebook.com/lesflaneriesnantes/">LES OPEN AIR</a></li>
            <li><a href="">LA DEMARCHE</a></li>
            <li><a href="C">LES OBJECTIFS</a></li>

        </ul>
    </li>
    <li><a href="#">LES VETEMENTS</a>
        <ul>
            <li><a href="https://www.facebook.com/BERRUClothing">LA MARQUE</a></li>
            <li><a href="">LA DEMARCHE</a></li>
            <li><a href="">LES OBJECTIFS</a></li>
        </ul>
    </li>

    <li><a href="#">LES CREATIONS</a>
        <ul>
            <li><a href="">SITES</a></li>
            <li><a href="https://codepen.io/h-lautre/pen/mdVevpr">CREA-VRAC</a></li>
            <li><a href="https://create.arduino.cc/projecthub/BERRU">ARDUINO</a></li>
        </ul>
    </li>
</ul>